# Lua
*.lua-bytecode
*.luac

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Neovim specific
doc/tags
doc/tags-??

# Editor/IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~
.*.sw[a-z]
Session.vim
.netrwhist

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
